body,
html {
    background-color: #f0f0f1;
}

#wpcontent {
    background-color: #f0f0f1;
}

li>ul,
li>ol {
    margin-left: auto;
}

// .wp-submenu-wrap {
//     margin-left: 0px;
// }

.toplevel_page_ristopos img {
    max-width: 30px !important;
}

#wpbody {
    margin-top: 50px;
}